# Files directory
files/*
!files/1920x1080/
!files/gui/
!files/Images_LICENSE
files/1920x1080/part.png

# Cache
__pycache__/
*.bck
*.old
*.swp
backup/

# Development
development/

# IDE Settings
.vscode/
.idea/

# Personal Settings Files
conf/user/*.ini
conf/user/*.json
!conf/user/*.sample.ini
!conf/user/*.sample.json

# Log file
mfb.log
/logs

# venv environment
MFB/
.venv/
.vscode/
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
